@page "/AddProduct"
@inject NavigationManager nav;
@inject IFileUpload fileUpload;
@using BlazorInputFile;
@using Sports_Nutrition_Store_Blazor.Data;
@using System.IO;
@inject UserService service;

<body>
    <div class="Main">
        <div class="header">
            <img src="/Images/Лого-transformed-transformed.png" class="Logo1" />
            @*<input type="search" class="SearchBar" />*@
            <span class="Balance" hidden="@true">
                <span class="BalanceText">
                    <label>
                        Баланс:
                    </label>
                    <label>
                        0
                    </label>
                    <label>RUB</label>
                </span><br />
                <a href="" class="PlusBalance">
                    <label>Пополнить баланс</label>
                </a>
            </span>
            @*<span class="UserBasket" hidden="@false">
            <label>Корзина:</label>
            <label>0</label>
            </span>*@
            <div class="Nav">
                <span class="Catalog">
                    <span class="CatalogLogo">
                        <img src="/Images/1564497_basket_cart_food_grosseries_shop_icon.png" class="Basket" />
                        <label>Каталог</label>
                    </span>
                </span>
                <span class="AboutCompany" @onclick="MoveToAboutCompany">
                    <span class="AboutCompanyLogo">
                        <img src="/Images/352432_info_icon.png" class="Basket" />
                        <label>О компании</label>
                    </span>
                </span>
                <span class="Login" @onclick="Login">
                    <span class="LoginLogo">
                        <img src="/Images/1564534_customer_man_user_account_profile_icon.png" class="Basket" />
                        <label>@User</label>
                    </span>
                </span>
                <span class="UserBasket">
                    <span class="UserBasketLogo">
                        <img src="/Images/3669232_basket_shopping_ic_icon.png" class="Basket" />
                        <label>Корзина: 0</label>
                    </span>
                </span>
            </div>
        </div>
        <div class="Body">
            <h2 class="HAuth">Добавление товара:</h2>
            <div class="AuthForm">
                @*<br /><div class="LogIn">
                <h4>Введите почту:</h4>
                <input type="text" @bind-value="RecoveryUser.Email" />
                </div><br />*@
                <EditForm Model="NewProduct">
                    <br /><div class="ProductName">
                        <DataAnnotationsValidator />
                        <h4>Название товара:</h4>
                        <InputText type="text" @bind-Value="NewProduct.Name"></InputText>
                        <ValidationMessage For="@(() => NewProduct.Name)" />
                    </div><br />
                    <div class="ProductPrice">
                        <h4>Цена товара:</h4>
                        <InputNumber @bind-Value="NewProduct.Price"></InputNumber>
                        <ValidationMessage For="@(() => NewProduct.Price)" />
                    </div><br />
                    <div class="ProductImg">
                        <h4>Фото товара:</h4>
                        <BlazorInputFile.InputFile OnChange="HandleFileSelected" />
                        @*<ValidationMessage For="@(() => NewProduct.Name)" />*@
                    </div><br />
                </EditForm>
                @if (file != null)
                {
                    <button class="btn_ProductAdd" @onclick="AddProduct">Добавить товар</button>

                    <br />
                }
                @*<label class="Danger">@DangerMessage</label>
                <button class="btn_RecoveryPassword" @onclick="Recovery">Восстановить пароль</button><br />*@
            </div><br /><br />
        </div><br />
        <footer class="Footer">
            <img src="/Images/Лого-transformed-transformed.png" class="FooterLogo" />
            <div class="SocNetwork">
                <h5>Наши соц-сети:</h5><br />
                <div class="Circles">
                    <img src="/Images/unp6h58xr4fiscbc.png" class="Insta" />
                    <img src="/Images/22842053.png" class="VK" />
                </div>
            </div>
        </footer>
    </div>
</body>
@code {
    IFileListEntry? file;
    private string? User = "Войти";
    private Product NewProduct = new Product();

    protected override async Task OnInitializedAsync()
    {
        User = service.Login;
    }

    private void MoveToAboutCompany()
    {
        nav.NavigateTo("/");
    }

    private void Login()
    {
        if (User == "Войти")
        {
            nav.NavigateTo("/auth");
        }

        else
        {
            if (service.Role == "Клиент")
            {
                nav.NavigateTo("/ProCli");
            }

            else if (service.Role == "Админ")
            {
                nav.NavigateTo("/ProAdm");
            }
        }
    }

    private void AddProduct()
    {
        MongoDB.AddProductToDB(NewProduct);
    }

    async Task HandleFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        if (file != null)
        {
            await fileUpload.Upload(file);
            NewProduct.Img = file.Name;
        }
    }
}
