@page "/BalanceAdd"
@using Sports_Nutrition_Store_Blazor.Data;
@inject NavigationManager nav;
@inject UserService service;

<body>
    <div class="Main">
        <div class="header">
            <img src="/Images/Лого-transformed-transformed.png" class="Logo1" />
            @*<input type="search" class="SearchBar" />*@
            <span class="Balance" hidden="@isHidden">
                <span class="BalanceText">
                    <label>
                        Баланс:
                    </label>
                    <label>
                        @Balance
                    </label>
                    <label>RUB</label>
                </span><br />
                <a href="" class="PlusBalance" @onclick="BalanceOrLogin">
                    <label>Пополнить баланс</label>
                </a>
            </span>
            @*<span class="UserBasket" hidden="@false">
            <label>Корзина:</label>
            <label>0</label>
            </span>*@
            <div class="Nav">
                <span class="Catalog" @onclick="MoveToCatalog">
                    <span class="CatalogLogo">
                        <img src="/Images/1564497_basket_cart_food_grosseries_shop_icon.png" class="Basket" />
                        <label>Каталог</label>
                    </span>
                </span>
                <span class="AboutCompany" @onclick="MoveToAboutCompany">
                    <span class="AboutCompanyLogo">
                        <img src="/Images/352432_info_icon.png" class="Basket" />
                        <label>О компании</label>
                    </span>
                </span>
                <span class="Login" @onclick="MoveToProfile">
                    <span class="LoginLogo">
                        <img src="/Images/1564534_customer_man_user_account_profile_icon.png" class="Basket" />
                        <label>@User</label>
                    </span>
                </span>
                <span class="UserBasket" @onclick="MoveToBasket">
                    <span class="UserBasketLogo">
                        <img src="/Images/3669232_basket_shopping_ic_icon.png" class="Basket" />
                        <label>Корзина: @BasketProductCount</label>
                    </span>
                </span>
            </div>
        </div><br />
        <div class="container">
            <h1 class="heading">Пополнение баланса</h1>
            <form>
                <div class="input-label">Сумма пополнения:</div>
                <input type="number" @bind-value="sum" class="input-field" placeholder="Введите сумму">

                <div class="input-label">Номер карты:</div>
                <input type="text" @bind-value="NumberCard" class="input-field" placeholder="Введите номер карты">

                <div class="input-label">Имя на карте:</div>
                <input type="text" @bind-value="Name" class="input-field" placeholder="Введите имя на карте">

                <div class="input-label">Срок действия:</div>
                <input type="text" @bind-value="Date" class="input-field" placeholder="Введите срок действия">

                <div class="input-label">CVC:</div>
                <input type="text" @bind-value="cvc" class="input-field" placeholder="Введите CVV">

            </form>
            <button @onclick="AddBalance" class="submit-button">Пополнить баланс</button>
            <h2 class="DangerPurchase">@Message</h2>
        </div><br />
        <footer class="Footer">
            <img src="/Images/Лого-transformed-transformed.png" class="FooterLogo" />
            <div class="SocNetwork">
                <h5>Наши соц-сети:</h5><br />
                <div class="Circles">
                    <img src="/Images/unp6h58xr4fiscbc.png" class="Insta" />
                    <img src="/Images/22842053.png" class="VK" />
                </div>
            </div>
        </footer>
    </div>
</body>

@code {
    private string User = "Войти";
    private double Balance = 0;
    private bool isHidden = false;
    private int BasketProductCount = 0;
    List<Product> ProductList = new List<Product>();
    private float sum = 0;
    private string NumberCard = string.Empty;
    private string Name = string.Empty;
    private string Date = string.Empty;
    private string cvc = string.Empty;
    private string Message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (service.Login != string.Empty)
        {
            User = service.Login;
            Balance = service.Balance;
            BasketProductCount = service.Basket.Count;
            if (service.Role == "Админ")
            {
                isHidden = true;
            }
        }
        ProductList = MongoDB.GetAllProduct();
    }

    private void MoveToAboutCompany()
    {
        nav.NavigateTo("/");
    }

    private void MoveToProfile()
    {
        if (User != "Войти")
        {
            if (service.Role == "Клиент")
            {
                nav.NavigateTo("/ProCli");
            }
            else
            {
                nav.NavigateTo("/ProAdm");
            }
        }
        else
        {
            nav.NavigateTo("/auth");
        }
    }

    private void MoveToCatalog()
    {
        nav.NavigateTo("/Catalog");
    }

    private void BalanceOrLogin()
    {
        if (User != "Войти")
        {

        }
        else
        {
            nav.NavigateTo("/auth");
        }
    }

    private void MoveToBasket()
    {
        if (User != "Войти")
        {
            nav.NavigateTo("/Basket");
        }
        else
        {
            nav.NavigateTo("/auth");
        }
    }

    private void AddBalance()
    {
        if (sum != 0 && NumberCard != null && Name != null && Date != null && cvc != null)
        {
            User user = new User();
            user = MongoDB.FindWithEmail(service.Email);
            user.Balance += sum;
            Balance = user.Balance;
            MongoDB.ReplaceByEmail(user, service.Email);
            service.SignIn(user);
            nav.NavigateTo("/");
        }
        else
        {
            Message = "Заполните все данные!";
        }
    }
}
