@page "/reg"
@using Sports_Nutrition_Store_Blazor.Data;
@inject UserService service;
@inject NavigationManager nav;

<body>
    <div class="Main">
        <div class="header">
            <img src="/Images/Лого-transformed-transformed.png" class="Logo1" />
            @*<input type="search" class="SearchBar" />*@
            <span class="Balance">
                <span class="BalanceText">
                    <label>
                        Баланс:
                    </label>
                    <label>
                        0
                    </label>
                    <label>RUB</label>
                </span><br />
                <a href="" class="PlusBalance" @onclick="BalanceOrLogin">
                    <label>Пополнить баланс</label>
                </a>
            </span>
            @*<span class="UserBasket" hidden="@false">
            <label>Корзина:</label>
            <label>0</label>
            </span>*@
            <div class="Nav">
                <span class="Catalog">
                    <span class="CatalogLogo">
                        <img src="/Images/1564497_basket_cart_food_grosseries_shop_icon.png" class="Basket" />
                        <label>Каталог</label>
                    </span>
                </span>
                <span class="AboutCompany" @onclick="MoveToAboutCompany">
                    <span class="AboutCompanyLogo">
                        <img src="/Images/352432_info_icon.png" class="Basket" />
                        <label>О компании</label>
                    </span>
                </span>
                <span class="Login" @onclick="Login">
                    <span class="LoginLogo">
                        <img src="/Images/1564534_customer_man_user_account_profile_icon.png" class="Basket" />
                        <label>Войти</label>
                    </span>
                </span>
                <span class="UserBasket">
                    <span class="UserBasketLogo">
                        <img src="/Images/3669232_basket_shopping_ic_icon.png" class="Basket" />
                        <label>Корзина: 0</label>
                    </span>
                </span>
            </div>
        </div>
        <div class="BodyFormAuth">
            <h2 class="HAuth">Выполните регистрацию:</h2>
            <div class="AuthForm">
                <EditForm Model="NewUser">
                    <br /><div class="Email">
                        <DataAnnotationsValidator />
                        <h4>Email:</h4>
                        <InputText type="email" @bind-Value="NewUser.Email"></InputText>
                        <ValidationMessage For="@(() => NewUser.Email)" />
                    </div><br />
                    <div class="LogIn">
                        <h4>Логин:</h4>
                        <InputText type="text" @bind-Value="NewUser.Login"></InputText>
                        <ValidationMessage For="@(() => NewUser.Login)" />
                    </div><br />
                    <div class="Password">
                        <h4>Пароль:</h4>
                        <InputText type="password" @bind-Value="NewUser.Password"></InputText>
                        <ValidationMessage For="@(() => NewUser.Password)" />
                    </div><br />
                    <div class="Password">
                        <h4>Подтвердите пароль:</h4>
                        <InputText type="password" @bind-Value="ConfirmPassword"></InputText>
                        <label class="UncorrectPassword">@UncorrectPassword</label>
                        <label class="UncorrectEmail">@UncorrectEmail</label>
                    </div><br />
                </EditForm>
                <button class="SignIn" @onclick="AddUser">Зарегистрироваться</button><br />
            </div><br /><br />
        </div>
        <footer class="Footer">
            <img src="/Images/Лого-transformed-transformed.png" class="FooterLogo" />
            <div class="SocNetwork">
                <h5>Наши соц-сети:</h5><br />
                <div class="Circles">
                    <img src="/Images/unp6h58xr4fiscbc.png" class="Insta" />
                    <img src="/Images/22842053.png" class="VK" />
                </div>
            </div>
        </footer>
    </div>
</body>

@code {
    private User NewUser = new User();
    private string? ConfirmPassword;
    private string? UncorrectPassword;
    private string? UncorrectEmail;

    private void MoveToAboutCompany()
    {
        nav.NavigateTo("/");
    }

    private void Login()
    {
        nav.NavigateTo("/auth");
    }

    private void AddUser()
    {
        if (NewUser.Email != null && NewUser.Login != null && NewUser.Password != null)
        {
            if (MongoDB.FindWithEmail(NewUser.Email) == null)
            {
                if (NewUser.Password == ConfirmPassword)
                {
                    NewUser.Role = "Клиент";
                    NewUser.Balance = 5000;
                    NewUser.Basket = new List<Product>();
                    NewUser.Purchases = new List<Product>();
                    MongoDB.AddToDB(NewUser);
                    service.SignIn(NewUser);
                    nav.NavigateTo("/Pro");
                }

                else
                {
                    UncorrectPassword = "Пароли не совпадают";
                    UncorrectEmail = string.Empty;
                }
            }

            else
            {
                UncorrectEmail = "Пользователь с такой почтой уже существует";
                UncorrectPassword = string.Empty;
            }
        }
    }

    private void BalanceOrLogin()
    {
        nav.NavigateTo("/auth");
    }
}
